@import './../../styles.scss';

mat-drawer-container {
    height: 100vh;
}

mat-toolbar {
    height: 80px;
}

mat-drawer {
    width: 250px;
}

.example-sidenav-content {
    @include display($jc: space-between);
    width: 100%;
    position: relative;
}

.sidenav-btn {
    margin: 8px;
    &:hover {
        cursor: pointer;
    }
}

.logo-container {
    @include display($jc: flex-start);
    gap: 8px;
    height: 80px;
    .logo-img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        // position: absolute;
        // top: 16px;
        // left: 16px;
    }
    
    .logo-text {
        font-size: 24px;
        margin: 0;
        font-style: italic;
        font-weight: 600;
        color: $primary;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3));
    } 
}

.categorys-box {
    @include display($ai: flex-start);
    flex-direction: column;
    a {
        @include display($jc: flex-start);
        height: 48px;
        padding-left: 32px;
        width: calc(100% - 32px);
        color: white;
        &:hover {
            background-color: rgba(0,0,0,0.3);
            cursor: pointer;
        }
    }
    
}



